small{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: grey;
}

.suggest-list{
  padding: 10px 0;
}

.suggest{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #454545;
  padding: 10px 5px;
  width: 300px;
  cursor: pointer;  

  &:hover{
    background-color: rgba(128, 128, 128, 0.322);
  }
}